---
import { Font } from "astro:assets";

interface Props {
  pageDescription: string;
  pageTitle?: string;
}

const { pageDescription, pageTitle } = Astro.props;

const canonical = new URL(Astro.url.pathname.replace(/\/?$/, "/"), Astro.site);
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="color-scheme" content="light dark" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="canonical" href={canonical} />
  <meta name="generator" content={Astro.generator} />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <Font cssVariable="--font-Lora" />
  <Font cssVariable="--font-Fraunces" />
  <Font cssVariable="--font-DM" />
  <Font cssVariable="--font-Epilogue" />

  <title>{pageTitle}</title>

  <meta name="description" content={pageDescription} />

  <meta property="og:title" content={pageTitle} />
  <meta property="og:description" content={pageDescription} />
  <!-- <meta property="og:image" content={socialImage.src} /> -->
  <!-- <meta
    property="og:image:alt"
    content="James Button holding his Marigaux 920A oboe in the lobby of Davies Symphony Hall"
  /> -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.bradazevedo.com/" />
  <meta property="og:locale" content="en_US" />

  <link rel="sitemap" href="/sitemap-index.xml" />

  <!-- TODO -->
  <!-- 

  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Person",
      "name": "James Button",
      "jobTitle": "Oboist",
      "url": "https://jamesbuttonoboe.com",
      "address": {
        "@type": "PostalAddress",
        "addressLocality": "San Francisco",
        "addressRegion": "CA"
      },
      "sameAs": [
        "https://www.instagram.com/buttonjamss/",
        "https://www.sfsymphony.org/Data/Event-Data/Artists/B/James-Button"
      ],
      "offers": {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Woodwind Audition Coaching",
          "description": "Professional woodwind audition coaching."
        }
      }
    }
  </script> -->
</head>
